In [42]:
import pandas as pd
import numpy as np
import random
import os
from sklearn.tree import DecisionTreeRegressor, ExtraTreeRegressor

In [43]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

seed_everything(44) # Seed 고정

In [44]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
submit = pd.read_csv('sample_submission.csv')

In [45]:
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeRegressor

# 독립변수(X), 종속변수(y)로 나누기
train_x = train.drop(columns=['ID', '풍속 (m/s)'], axis = 1)
train_y = train['풍속 (m/s)']

test_x = test.drop(columns=['ID'])

# 데이터 인코딩
le = LabelEncoder()
le = le.fit(train_x['측정 시간대'])
train_x['측정 시간대'] = le.transform(train_x['측정 시간대'])
test_x['측정 시간대'] = le.transform(test_x['측정 시간대'])

# 회귀 모델 정의
dt_clf = ExtraTreeRegressor(random_state=15) 

# 모델 학습
dt_clf.fit(train_x , train_y) 

# 예측
dt_pred = dt_clf.predict(test_x)

In [46]:
train_x

,월,일,측정 시간대,섭씨 온도(°⁣C),절대 온도(K),이슬점 온도(°C),상대 습도 (%),대기압(mbar),포화 증기압(mbar),실제 증기압(mbar),증기압 부족량(mbar),수증기 함량 (g/kg),공기 밀도 (g/m**3),풍향 (deg)
0,7,2,3,13.97,287.78,9.84,76.10,992.08,15.98,12.16,3.82,7.66,1198.06,155.60
1,8,21,1,16.94,290.85,12.14,73.30,991.07,19.33,14.17,5.16,8.94,1183.67,177.00
2,11,1,3,9.76,283.84,5.40,74.20,988.71,12.10,8.98,3.12,5.67,1213.22,146.20
3,12,28,1,5.27,277.30,2.71,83.50,1014.25,8.89,7.43,1.47,4.57,1265.48,264.50
4,9,26,2,17.35,290.86,12.68,74.00,995.77,19.84,14.68,5.16,9.22,1187.40,19.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36576,8,10,3,14.10,287.79,4.99,54.15,993.53,16.11,8.73,7.39,5.48,1200.85,292.90
36577,2,20,1,3.80,277.91,-1.01,70.70,988.03,8.02,5.67,2.35,3.58,1240.06,210.50
36578,5,29,3,20.06,295.10,16.70,81.00,977.90,23.51,19.04,4.47,12.20,1153.24,19.22
36579,9,10,3,25.65,299.81,15.30,52.81,988.39,32.98,17.41,15.56,11.03,1144.61,225.40
36580,3,11,1,3.14,276.30,1.88,91.40,1000.01,7.66,7.00,0.66,4.37,1257.47,30.67

In [47]:
test_x

,월,일,측정 시간대,섭씨 온도(°⁣C),절대 온도(K),이슬점 온도(°C),상대 습도 (%),대기압(mbar),포화 증기압(mbar),실제 증기압(mbar),증기압 부족량(mbar),수증기 함량 (g/kg),공기 밀도 (g/m**3),풍향 (deg)
0,3,24,0,4.28,278.68,-0.21,72.5,984.48,8.30,6.02,2.28,3.81,1233.29,251.80
1,9,24,3,13.40,286.81,10.36,81.8,996.98,15.40,12.59,2.80,7.89,1206.20,225.60
2,5,28,3,19.89,294.33,14.95,73.2,984.83,23.26,17.03,6.23,10.82,1163.06,10.39
3,1,17,3,-2.88,270.44,-4.47,88.7,998.02,4.94,4.38,0.56,2.73,1284.19,260.20
4,10,22,2,6.97,281.18,4.36,83.4,987.00,10.01,8.35,1.66,5.28,1223.47,262.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15673,3,16,0,1.61,274.67,-0.49,85.9,1001.26,6.86,5.89,0.97,3.67,1266.62,56.18
15674,9,5,2,18.27,292.19,13.35,73.0,990.98,21.03,15.35,5.68,9.69,1177.63,265.30
15675,8,8,0,16.08,289.66,12.25,78.0,994.97,18.30,14.28,4.03,8.97,1191.84,189.80
15676,2,4,0,3.07,276.68,-0.95,74.8,994.31,7.62,5.70,1.92,3.57,1251.24,269.70
15677,2,1,1,9.01,283.38,8.36,95.7,985.13,11.50,11.01,0.49,6.98,1211.08,196.20

In [41]:
# Normalization 혹은 Standardrization이 필요한 칼럼을 확인한 후 전처리를 진행해보세요.
submit['풍속 (m/s)'] = dt_pred 

submit

submit.to_csv('Extra.csv',index=False)

In [30]:
# train과 test셋을 분리하여 rmse로 에러를 평가해보세요.

In [31]:
# PyCaret에서 성능이 좋은 모델을 비교해서 선택해보세요.

In [ ]:
# PyCaret에서 나온 성능이 좋은 모델을 Optuna를 통해 하이퍼 파라미터 최적활를 진행하세요.

In [ ]:
# 앙상블 기법 중 부스팅을 활용해서 성능을 올려보세요.(AdaBoostRegressor)